In [ ]:
def timeConversion(s):
    if s.startswith('12') and s.endswith('AM'):
        s=s.replace(s[:2],'00')
    elif s.startswith('12') and s.endswith('PM') or s.endswith('AM'):
        s
    elif s.endswith('PM'):
        s2=str(int(s[:2])+12)
        s=s.replace(s[:2],s2)
    
    return s[:8]

In [ ]:
timeConversion('10:25:43PM')

'22:25:43'

In [ ]:
def plusMinus(arr):
    pos_list = 0
    neg_list = 0
    zero_list = 0
    
    for i in arr:
        if i > 0:
            pos_list+=1
        elif i < 0:
            neg_list+=1
        else:
            zero_list+=1
    pos_ratio = format((pos_list)/len(arr), '6f')
    neg_ratio = format((neg_list)/len(arr),'6f')
    zero_ratio = format((zero_list)/len(arr),'6f')
    
    return print(f'{pos_ratio}\n{neg_ratio}\n{zero_ratio}')

In [ ]:
plusMinus([1, 0, 0, 0, -6])

0.200000
0.200000
0.600000

In [ ]:
import re

In [ ]:
Regex_Pattern = r'wikipedia'	# Do not delete 'r'.


Test_String = 'www.wikipedia.com usar a wikipedia 1wikipedia wikipedia1'

match = re.findall(Regex_Pattern, Test_String)

print("Number of matches :", len(match))

Number of matches : 4

In [ ]:
def scale (n):
  for i in range(1, n+1):
    print (' '*(n-(i))+'#'*(i))

In [ ]:
scale (7)

      #
     ##
    ###
   ####
  #####
 ######
#######

In [ ]:
candles = [6, 6, 6, 3]
max_candles = 0
for i in candles:
  if i >= max(candles):
    max_candles+=1
max_candles

3

In [ ]:
year=2100
leap = False
if year%4==0 and (year%100!=0 and year%400==0):
  leap=True
 
leap

False

In [ ]:
2100/400

5.25

In [ ]:
n = 7
lista = [int(i) for i in range(1,n+1)]
print(lista)

[1, 2, 3, 4, 5, 6, 7]

Any  less than 40 is a failing grade.


If the difference between the  and the next multiple of  is less than , round  up to the next multiple of .

If the value of  is less than , no rounding occurs as the result will still be a failing grade.

*Examples*

 round to  (85 - 84 is less than 3)
 do not round (result is less than 40)
 do not round (60 - 57 is 3 or higher)

In [ ]:
def gradingStudents(grades):
    for grade in grades:
      if grade <= 0 and grade <=100:
        if grade < 38:
            print(grade)
        elif grade == 39:
            print(grade == 40)
        elif grade >=38:
            if grade % 5 == 0:
                print(grade)
            elif grade % 5 == 4:
                print(grade+1)
            elif grade % 5 == 3:
                print(grade+2)
            else:
                print(grade)

In [ ]:
gradingStudents([4, 60, 43, 67, 90, 21, 38, 68])

In [ ]:
firstname = input('First name:')
lastname = input('Last name:')

print(f'Hello {firstname} {lastname}! You just delved into python.')

First name:Carla
Last name:Regina
Hello Carla Regina! You just delved into python.

In [20]:
def mutate_string(string, position, character):
  string = string[:position] + character + string[position+1:]
  print(string)

In [21]:
mutate_string('banana', 2, 'k')

bakana

In [ ]:
x = 'CARLA carlinha'
y = x.lower().split()
c=[i.capitalize() for i in y]
" ".join(c)

'Carla Carlinha'

In [ ]:
x = 'CARLA carlinha'
y = x.lower().capitalize()
y

'Carla carlinha'

In [ ]:
a=2
b=5

for i in range(a,b)

In [ ]:
import pandas as pd

In [ ]:
pd.read_csv('day.csv')

     instant      dteday  season  yr  ...  windspeed  casual  registered   cnt
0          1  2011-01-01       1   0  ...   0.160446     331         654   985
1          2  2011-01-02       1   0  ...   0.248539     131         670   801
2          3  2011-01-03       1   0  ...   0.248309     120        1229  1349
3          4  2011-01-04       1   0  ...   0.160296     108        1454  1562
4          5  2011-01-05       1   0  ...   0.186900      82        1518  1600
..       ...         ...     ...  ..  ...        ...     ...         ...   ...
726      727  2012-12-27       1   1  ...   0.350133     247        1867  2114
727      728  2012-12-28       1   1  ...   0.155471     644        2451  3095
728      729  2012-12-29       1   1  ...   0.124383     159        1182  1341
729      730  2012-12-30       1   1  ...   0.350754     364        1432  1796
730      731  2012-12-31       1   1  ...   0.154846     439        2290  2729

[731 rows x 16 columns]

In [ ]:
n = int(input ("insira um número: "))
x=[]
for i in range(1, n+1):
  x.append(str(i))

''.join (x)

insira um número: 4

'1234'

In [9]:
vbs=0
n=20
for i in range (1,n):
  vbs+=10000000+i
  print (10000000+i)

vbs

10000001
10000002
10000003
10000004
10000005
10000006
10000007
10000008
10000009
10000010
10000011
10000012
10000013
10000014
10000015
10000016
10000017
10000018
10000019

190000190

In [19]:
arr = [1, 1, 0, 0, -1, -1]
p=0
n=0
z=0

for i in arr:
  if i > 0:
    p+=1
  elif i < 0:
    n+=1
  elif i == 0:
    z+=1

print (format(p/len(arr),'6f'), format(n/len(arr),'6f'), format(z/len(arr),'6f'))

0.333333 0.333333 0.333333